.down{
			color:red;
		}
		.up{
			color:green;
		}
		.yahooLink{ text-decoration:none; }
		.symWrap{
			padding:2px;
			border:1px solid;
			font-weight:bold;
			border-radius:5px;
			background-image: linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 53%);
			background-image: -o-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 53%);
			background-image: -moz-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 53%);
			background-image: -webkit-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 53%);
			background-image: -ms-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 53%);

			background-image: -webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0, rgb(238,238,238)),
				color-stop(0.53, rgb(255,255,255))
			);
			text-shadow:1px 1px 0px #fff;
		}
		.symWrap .down{
			border-color:red;
		}
		.symWrap .up{
			border-color:green;
		}
		.symInfo{
			background:#fff;
			padding:2px 5px;
			border-radius:3px;
			margin-left:5px;
			border:1px solid #333 !important;
			box-shadow:0px 0px 3px #ccc inset;
		}
		.regTxt{ color:#333 !important; }
