.nochange{
	color:blue;
}
.down{
	color:red;
}
.up{
	color:green;
}
.yahooLink{ text-decoration:none; }
.yahooLink:hover{text-decoration:none;}
.symWrap{
	padding:2px;
	margin:3px 2px;
	border:1px solid;
	font-weight:bold;
	border-radius:5px;
	background-image: linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 53%);
	background-image: -o-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 53%);
	background-image: -moz-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 53%);
	background-image: -webkit-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 53%);
	background-image: -ms-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 53%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(238,238,238)),
		color-stop(0.53, rgb(255,255,255))
	);
	text-shadow:1px 1px 0px #fff;
}
.symWrap .down{
	border-color:red;
}
.symWrap .up{
	border-color:green;
}
.symWrap .nochange{
	border-color:blue;
}	
.symInfo{
	background:#fff;
	padding:2px 5px;
	border-radius:3px;
	margin-left:5px;
	border:1px solid #333 !important;
	box-shadow:0px 0px 3px #ccc inset;
}
.regTxt{ color:#333 !important; }

#tt-chart-draw {
	position:absolute;
	display: block;
	top: 30px;
	left: 0;
}

#tt-charts {
	float:left;
	background: #fff;
	width:300px;
	padding-top:30px;
	margin-left:-300px;
}
#tt-handle {
	float:left;
	background:#fff;
	width:60px;
	height:60px;
	display:block;
	margin-top:100px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow:4px 0 5px #333;
	background: #fff url(http://i.imgur.com/1IuGmSb.png) 0 0 no-repeat;
	cursor: pointer;
}

.open {
	margin-left:0 !important;
}

#tt-chart-draw li{
	padding:10px 20px;
	border-bottom:1px solid #555;
	cursor:pointer;
}

#tt-chart-draw img {
	width:260px;
}
.tt-body {
	display: none; 
}

#tt-chart-draw li:nth-child(even){
	background: #f5f5f5;
}

#tt-chart-draw li:hover {
	background: #eee;
}

.tt-header .symWrap{
	background: none;
	border: 0;
}
.tt-header .symInfo {
	float: right;
}